[checkin]
universalqueuepolicy = 3
coachcheckin = 0
businesscheckin = 0
universalcheckin = 6
coachsecurity = 2
businesssecurity = 1
universalsecurity = 0
#we have 6 checkin desks that prioritize passengers from the business class line always (just like real airports in my experience)
#we cant modify the # of security desks so that remains unchanged

[simulation]
simlength = 7
commutercap = -1
commuterrate = 40

[logging]
logqueue = 1
logplane = 1
logpassenger = 1
printqueue = 0
printplane = 0
printpassenger = 0

[flights]
commuterinterval = 60
commuterseats = 40
provincialinterval = 360
provincialcoachcount = 140
provincialcoachchance = 0.85
provincialbusinesschance = 0.75
provincialbusinesscount = 40
provincialarrivalmean = 75
provincialarrivalvariation = 50

